*{
        padding: 0;
        margin: 0;
        color: black;
}
body{
   
        height: 3000px;
        background-color: #0E2646;
}
a{
        text-decoration: none;
        color: #000;
}
html{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  
}
.header
{
        width: 100%;
        background-color: #1a61ad;
    
        display: flex;
        flex-direction: row ;
        justify-content: space-between;
        position: fixed;
        top: 0;
        align-items: center;
}
/*_____________________________________ header and logo-DzHassan___________________________________________________*/

.header a 
{
        width: 3.5%;
        margin: 5px 30px ;
}

.img-header-left
{
        padding: 2px;
        width: 100%;
 
}
.img-header-right
{
        width: 100%;
        vertical-align: middle;
}
.pargarphe-header
{
        display: inline-block;
        font-size: 3vw;
        padding: 0 15px;
        font-weight: bold;
        word-spacing: 1VW;
        letter-spacing: 1px;
}


/*____________________________________change-color ________________________________*/

.parent-chang-color 
{
        background-color: #ff274b;
        height: 85px;
        display: flex;
}
.parent-chang-color div 
{
        height: inherit;
        flex-grow: 1;


}
.color-1
{
        background-color: rgb(150, 38, 150);
        height:inherit;
}
.color-2
{
        background-color: #11862f;
        height:inherit;
}
.color-3
{
        background-color: rgb(244, 169, 7);
        height:inherit;
}
.color-4
{
        background-color: #00BFFF;
        height:inherit;
}


/*____________________________________ i3lan _______________________________________*/


.logo-hassan
{
        margin: 60px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: bold;
        font-size: 2.5rem;
        width: 30%;
}
.logo-hassan-pargraph
{
        display:inline-block;
        color: rgb(0, 168, 224);
    

}
span{
         color: #ff274b;
}
/*______________________________________ paragraph______________________________*/

.text-paragraph
{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin:  10px auto;
}
.text-paragraph p 
{
        text-align: center;
        width: 100%;
        font-size: 2.5vw;
        font-weight: bold;
        padding: 8px 0;
 }
.text-paragraph p a 
{
     text-decoration: none;
}
.text-1{
        background-color: rgb(0, 168, 224);
        border-radius:   10px 10px 0 0 ;
}
.text-2 {
        background-color: rgba(12, 172, 225, 0.8);
        border-radius:  0 0 10px 10px ;

}

 /* _________________________________________________________________________________________ */

.name_Exama_text
{
        padding: 10px;
        letter-spacing: 1.6px;
        font-size: 2vw;
        text-align: center;

}
.Exama_text
{
      
        margin: 50px auto 150px ;
        width: 60%;
        background-color:rgb(0, 168, 224);
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        height: 400px;

}


.Exama_text  iframe {
        flex-grow: 1;
        width: 100%;
        border: none;
}

.download
{
        width: 100%;
        background-color: #0c884e;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 8px 8px;
}
.download a.next_left , .download a.next_right
{
        padding: 11px 13px 8px 13px;
        width: 5%;
        background-color: #1a61ad;
}
.download a img
{
        width: 100%;
        
}
.next_left
{
        border-radius: 0 0 0 8px;
}
.next_right
{
        border-radius: 0 0  8px 0;
}
.text
{
        width: 90%;
        text-align: center;
}


/* _________________________________________________Hikma______________________ */
.hikma{
    background-color: rgba(13, 149, 194, 0.91);
    margin: 50px auto;   
    width:59%;
    text-align: center;
    padding: 15px 8px;
    border-radius: 8px;
}

.hikma p {
    font-weight: bold;
    font-size: 1.5vw;
    
}































@media screen and (max-width: 700px) 
{
.header a 
{
    width: 10%;
    padding:  0 5px;
    margin: 0 ;
}

.pargarphe-header
{
    font-size: 4vw;
    padding: 0;
}
.parent-chang-color
{
    height: 66px;
}
.text-paragraph
{
    width: 90%;
}
.text-paragraph p 
{
    font-size: 4.5vw;
}


.Exama_text 
{
    width: 97%;
}

.name_Exama_text

{
font-size: 4vw;

}
 .download a.next_left , .download a.next_right
{
                padding: 5px 8px 3px 8px;
                width: 11%;
                background-color: #1a61ad;
}
.hikma
{
    width: 90%;
}
.hikma p 
{
  font-size: 3.5vw;
}







}




























@media screen and (max-width: 600px) {






}




